.FileInput{
    font-family: 'Titillium Web', sans-serif;

    border-radius: 15px;
  
  margin: 0rem 0rem 0rem 3rem;
}

.FileInput input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
    position: absolute;
    padding: 1rem;
	z-index: -1;
}

.Label {
    background-color: yellowgreen;

    margin: 10px 10px;
  padding: 15px 10px;
border-radius: 15px;
    font-size: 1.25em;
    font-weight: 300;
    color: white;
    display: inline-block;
}

.FileInput:focus + .Label,
.Label:hover {
    background-color: red;
}